<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="template_styles/style_briefly_about_me.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briefly about me</title>
</head>
<body>
    <div class="global">
        <div class="personal">
            <div class="name">Masharipov Asadbek</div>
            <div class="for_image">
                <img class="image" src="template_styles/template_images/me.jpg">
            </div>
            <div class="p_data">• Personal details
                <hr>
                <table>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/user.png">
                        </td>
                        <td class="user_d">Masharipov Asadbek</td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/home.png">
                        </td>
                        <td class="user_d">Republic of Karakalpakstan, Amudarya district, Mangit city, Boyovul neighborhood,
                            "Yulduz" street, 3/14 - house.</td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/phone.png">
                        </td>
                        <td class="user_d">+998 90 664 46 18</td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/gmail.png">
                        </td>
                        <td class="user_d">
                            <a class="likn_" href="mailto:gnometerminal026@gmail.com?subject=Mavzu&body=Xabar matni" target="_blank">
                                my gmail address
                              </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/linkedin.png">
                        </td>
                        <td class="user_d">
                            <a class="likn_" target="_blank" href="https://www.linkedin.com/in/gnome-terminal-b15299329?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                My linkedin profile
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/telegram.png">
                        </td>
                        <td class="user_d">
                            <a class="likn_" target="_blank" href="https://t.me/gnomet26">
                                My telegram account
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="user_l">
                            <img class="logo" src="template_styles/template_images/github.png">
                        </td>
                        <td class="user_d">
                            <a class="likn_" target="_blank" href="https://github.com/Gnomet26?tab=repositories">
                                My github profile
                            </a>
                        </td>
                    </tr>

                </table>
                <div class="p_data">• Interests
                </div>
                <hr>
                <div class="list_">
                    ◆ Programming
                </div>
                <div class="list_">
                    ◆ Ethical hacking
                </div>
                <div class="list_">
                    ◆ Mathematics & Physics & Chemistry
                </div>
                <div class="list_">
                    ◆ To invent
                </div>
                <div class="list_">
                    ◆ Identify system weaknesses
                </div>

                <div class="list_">
                    ◆ Speak english
                </div>
            </div>
        </div>
        <div class="about">

            <div class="about_me">• About me</div>

            <hr style="margin-left: 5px;">

            <div class="about_me_text">Hello! I, Masharipov Asadbek, was born on May 21, 2004 in the Amudarya district of the Republic of Karakalpakstan. In 2022, after graduating from the 16th general education school, this year I received a state grant to the Tashkent University of Information Technologies named after Muhammad-Al-Khorazmi. Now I am in the 3rd year. I am very interested in digital technology and computers. I am interested in developing software and applications for devices. I am also looking for vulnerabilities in the system and how to eliminate them. I have been gaining experience in the field of information technologies for six years.For some reason, I like listening to minus (background music) more. It keeps me from getting distracted.</div>

            <div class="about_me">• Work experience</div>

            <hr style="margin-left: 5px;">

            <div class="work_experience_text">
                ◆  My first step into programming was the channels of Botir Ziatov and Anvar Narzullayev on the YouTube platform. I learned the basic knowledge and concepts.<i>(From September 2018 Until September 2019)</i>
            </div>
            <div class="work_experience_text">
                ◆  Later, I gained experience by learning Android SDK technology with java programming language through free online platforms for 1.5 years. (2019-2024)
            </div>
            <div class="work_experience_text">
                ◆  I learned the concept and basics of database and learned to use it in my personal projects. MySQL, Postgre SQL(2020-2024)
            </div>
            <div class="work_experience_text">
                ◆  Backend technologies (Django Spring) I have been studying for over 1 year. I also created my own projects(2022-2024)
            </div>
            <div class="work_experience_text">
                ◆  I have been working on Android Native and GUI application development for various devices since 1 year.(2023-2024)
            </div>

            <div class="about_me">• Skills ⚡</div>

            <hr style="margin-left: 5px;">

            <div class="work_experience_text">
                🌟 Python programmer
            </div>
            <div class="work_experience_text">
                🌟 Java programmer
            </div>
            <div class="work_experience_text">
                🌟 C++ programmer
            </div>
            <div class="work_experience_text">
                🌟 C# programmer
            </div>
            <div class="work_experience_text">
                🌟 Kotlin programmer
            </div>
            <div class="work_experience_text">
                🌟 Android native developer
            </div>
            <div class="work_experience_text">
                🌟 HTML,CSS,JavaScript (Front-end) 👎
            </div>

            <div class="about_me">• Technologies ⚡</div>

            <hr style="margin-left: 5px;">

            <div class="work_experience_text">
                🌟 MySQL & Postgres SQL & MongoDB
            </div>

            <div class="work_experience_text">
                🌟 Python Tkinter (GUI)
            </div>

            <div class="work_experience_text">
                🌟 Python Kivy (Cross platform)
            </div>

            <div class="work_experience_text">
                🌟 Python Django (Back-end framework)
            </div>

            <div class="work_experience_text">
                🌟 Python Flask (Back-end framework)
            </div>

            <div class="work_experience_text">
                🌟 Python python-telegram-bot & aiogram (Framework)
            </div>

            <div class="work_experience_text">
                🌟 Java retrofit
            </div>
            <div class="work_experience_text">
                🌟 Java Spring Boot (Back-end framework)
            </div>
            <div class="work_experience_text">
                🌟 Java Swing & JavaFX
            </div>

            <div class="work_experience_text">
                🌟 Java Android SDK 
            </div>
            <div class="work_experience_text">
                🌟 Java Android NDK
            </div>

            <div class="work_experience_text">
                🌟 C/C++ GTK+ (GUI)
            </div>





        </div>
    </div>
</body>
</html>