<!DOCTYPE html>
<html lang="en" style="background-color: rgb(61, 61, 61); display: flex;justify-content: center;align-items: center;height: auto;">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template_styles/style_create_account.css">
    <title>Create account </title>
</head>
<body style="background-color: rgb(61, 61, 61); display: flex;justify-content: center;align-items: center; height: auto;">
    <div class="g_view">
        <div>
            <img class="site_logo" src="template_styles/template_images/for_login_view.png">
        </div>
        <div>
            <div class="title_">Create accout for users</div>
        </div>
        <div style="display: flex;">
            <div class="f_user_n">Create username</div>
        </div>
        <div>
            <input type="text" maxlength="20" id="user_name" class="for_input">
        </div>
        <div style="display: flex;">
            <div class="f_user_n">Create password</div>
        </div>
        <div>
            <input type="password" maxlength="20" id="user_name" class="for_input">
        </div>
        <div style="display: flex;">
            <div class="f_user_n">Repeat the password</div>
        </div>
        <div>
            <input type="password" maxlength="20" id="user_name" class="for_input">
        </div>
        <div style="display: flex;">
            <div class="f_user_n">Your gmail adress</div>
        </div>
        <div>
            <input type="email" maxlength="100" id="user_name" class="for_input">
        </div>
        <div class="for_security">
            <img class="question" src="template_styles/template_images/q1.png">
            <div class="equal">=</div>
            <input maxlength="2" class="answer">
        </div>
        <div class="for_button">
            <button class="login_button_view">Create account</button>
        </div>
        <div class="create_account">
            <a class="create_account_link" target="_self" href="login_view.html">Login view</a>
        </div>
    </div>
</body>
</html>