<!DOCTYPE html>
<html lang="en" style="background-color: rgb(61, 61, 61); display: flex;justify-content: center;align-items: center; margin: 0;height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template_styles/style_login_view.css">
    <title>Its my life LogIn 🔑</title>
</head>
<body onload="random_generator()" style="background-color: rgb(61, 61, 61); display: flex;justify-content: center;align-items: center; margin: 0;height: 100%;">
    <div class="login_view">
        <img class="image_" src="template_styles/template_images/for_login_view.png">
        <div class="user_name_label">User name</div>
        <div class="block">
            <input class="user_n_input" id="name_n_input" maxlength="20">
        </div>

        <div class="user_name_label">User password</div>
        <div class="block">
            <input class="user_n_input" id="parol_n_input" maxlength="20" type="password">
        </div>

        <div class="for_security">
            <img id="question" class="for_q4">
            <div class="equal">=</div>
            <input id="answer" maxlength="2" class="answer">
        </div>

        <div class="for_button">
            <button class="login_button_view" onclick="log_in_f()">Log in</button>
        </div>

        <div class="create_account">
            <a class="create_account_link" target="_self" href="create_account.html">Create account</a>
        </div>
    </div>

    <script src="template_scripts/script_login_view.js"></script>
</body>
</html>