<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template_styles/style_my_block_posts.css">
    <title>My block posts</title>
</head>
<body>

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>    

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>    

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>    

    <div class="block_post_bg">
        <div class="column_0">
            <img class="post_img" src="template_styles/template_images/play.png">
            <div class="post_title">Post title</div>
            <div class="date">27-oktabr,2024-yil,14:52</div>
        </div>
        <div class="post_text">
            Tushundim! Siz musiqa pleylistiga o'xshash, bir nechta bloklardan iborat vertikal jadval yaratmoqchisiz. Har bir blokda musiqa nomi, avtor nomi, "Musiqani o'ynatish" va "Yuklab olish" tugmalari bo'ladi. Bir vaqtning o'zida faqat bitta blokdagi musiqa o'ynatilishi kerak, va boshqa bloklardagi "O'ynatish" tugmalari "O'ynatish" holatiga qaytishi kerak.

Sizning talabingizni amalga oshirish uchun quyidagi HTML va JavaScript kodini ishlatishingiz mumkin:
        </div>
    </div>
    
    <script src="template_scripts/script_my_block_posts.js"></script>
</body>
</html>