<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template_styles/style_my_favourite_music.css">
    <title>My favourite musics</title>
</head>
<body >

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <div class="music_content_bg">
        <img class="music_logo" src="site_l.png">
        <div class="music_name_and_avtor_name"> After dark & Mr.Kitty</div>
        <div class="play_and_download_buttons">
            <button class="download_btn" id="download" onclick="messagebox(this)"></button>
        </div>
    </div>

    <script src="template_scripts/script_my_favourite_music.js"></script>
</body>
</html>