<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="template_styles/style_my_project.css">
    </head>
    <body>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

        <div class="my_content_bg">
            <img class="project_logo" src="site_l.png">
            <div>
                <div class="project_title">It is the first project</div>
                <div class="project_about">This is my first game in android platforms</div>
            </div>
        </div>

    </body>
</html>