.g_view{
    background-color: rgb(91 ,91, 91);
    width: 450px;
    height: auto;
    border: solid;
    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    text-align: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.site_logo{
    width: 90%;
    height: auto;
    margin-top: 20px;
}

.title_{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.f_user_n{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 40px;
}

.for_input{
    color: yellow;
    background-color: rgb(91 ,91, 91);
    border: solid;
    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    width: 90%;
    height: 50px;
    font-size: 24px;
    text-align: left;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.for_security{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
}

.equal{
    width: auto;
    height: auto;
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: 10px;
}

.answer{
    width: 30%;
    color: yellow;
    background-color: rgb(91, 91, 91);
    border: solid;
    border-radius: 5px;
    border-color: yellow;
    border-width: 2px;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}

.login_button_view{
    width: 90%;
    height: 50px;
    border: solid;
    border-radius: 10px;
    border-color: yellow;
    border-width: 2px;
    margin-top: 30px;
    background-color: rgb(91, 91, 91);
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;

}

.create_account_link{
    margin-left: 20px;
    color: yellow;
    font-size: 18px;
    margin-bottom: 30px;
}

.create_account{
    margin-top: 15px;
    display: flex;
}

.for_q1{
    background-image: url('template_images/q1.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q2{
    background-image: url('template_images/q2.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q3{
    background-image: url('template_images/q3.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q4{
    background-image: url('template_images/q4.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q5{
    background-image: url('template_images/q5.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q6{
    background-image: url('template_images/q6.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q7{
    background-image: url('template_images/q7.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}
.for_q8{
    background-image: url('template_images/q8.png');
    width: 120px;
    height: auto;
    margin-right: 50px;
    background-size: cover;
    background-position: center;
}